button.btn {
  --btn-border-color: #bbba;
  --btn-bg-color: transparent;
  --btn-color: #555;
  --btn-shadow: #888b;

  padding: 10px 22px;
  font-size: 1rem;
  color: var(--btn-color);
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
  box-shadow: 0 2px 2px var(--btn-shadow);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button.btn:hover {
  --btn-border-color: #999a;
  --btn-color: #444;
  --btn-bg-color: #f0f0f0;
}

button.btn:active {
  box-shadow: inset 0 1px 5px var(--btn-shadow);
}

button.btn:disabled {
  cursor: no-drop;
  --btn-bg-color: #d5d5d5;
  --btn-color: #7a7a7a;
  --btn-border-color: #bbba;
}

button.btn.primary {
  --btn-border-color: var(--main-blue);
  --btn-bg-color: var(--main-blue);
  --btn-color: #f5f5f5;
  --btn-shadow: var(--main-blue-darker);
}

button.btn.primary:hover {
  filter: brightness(0.9);
}

button.btn.primary:active {
  box-shadow: inset 0 1px 5px var(--btn-shadow);
  --btn-border-color: var(--main-blue-darker);
}

button.btn.primary:disabled {
  --btn-bg-color: var(--main-blue-lighter);
  --btn-border-color: var(--main-blue-lighter);
  --btn-shadow: var(--main-blue-transparent);
}

button.btn.danger {
  --btn-border-color: var(--danger-red);
  --btn-bg-color: var(--danger-red);
  --btn-color: #f5f5f5;
  --btn-shadow: var(--danger-red-darker);
}

button.btn.danger:hover {
  filter: brightness(0.9);
}

button.btn.danger:active {
  box-shadow: inset 0 1px 5px var(--btn-shadow);
  --btn-border-color: var(--danger-red-darker);
}

button.btn.danger:disabled {
  --btn-bg-color: var(--danger-red-lighter);
  --btn-border-color: var(--danger-red-lighter);
  --btn-shadow: var(--danger-red-transparent);
}

.btn.link {
  --btn-color: #777;

  border: 0;
  padding: 0;
  box-shadow: none;
  text-decoration: underline;
}

.btn.link:hover {
  --btn-color: #505050;
}
