:root {
  --font-color: #333;
  --bg-color: #f0f0f0;

  --main-blue: #2d89cf;
  --main-blue-transparent: #2d89cf67;
  --danger-red: #bf211e;
  --danger-red-transparent: #bf211e67;
  --container-size: 1200px;

  --header-color: #ddd;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  background-color: var(--bg-color);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, textarea {
  color: var(--font-color);
}
